body{
    background: #FFA500


}
li a {
    display: block;
    width: 60px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 40px;
} 

li a {
    display: block;
    width: 60px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
} 

li a {
    display: block;
}
ul {
    list-style-type: vertical;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #FFA500;
}

li a {
    display: block;
    color: #000;
    padding: 16px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: orange;
}
ul {
    border: 1px solid #555;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}
li {
    display: inline;
}
.active {
    background-color: #4CAF50;
}
